@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    /* Resetting margin and paddings */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1,h2,h3,h4,h5,h6,span{
    color: black;
    text-align: center;
    line-height: 1.25;
}

html{
    /* Transitions the move from the bottom of the webpage
    to the top when clicking on the image */
    scroll-behavior: smooth;
}

h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li{
    /* Removes Bullet points from Links on the unordered List */
    list-style: none;
}

a{
    text-decoration: none;
    position: relative;
}

.link_hover--effect:after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -3px;
    left: 0;
    transition: all 300ms;

}

.link_hover--effect:hover:after{
    width: 100%;
}

.link_hover--effect-white:after{
    background-color: white;
    transition: all 300ms;
}

.link_hover-effect--black:after{
    background-color: black;
}


.flex{
    display: flex;
}

.flex-1{
    flex:1;
}

/* Setting to keep all the information in line */
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Every even called section will have the following background colour */
section:nth-child(even){
    background-color: #f8f8f8;
}

.container{
    padding: 50px 0;
}

.section__title{
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav{
    height: 100px;
    /* Makes nav responsive */
    width: 100%;
    max-width: 1000px;
    /* Aligns all items to the center */
    margin: 0 auto;
    /* Puts the two items side by side */
    display: flex;
    /* Horizontally spaces in between the two items */
    justify-content: space-between;
    /* Vertically centers the items */
    align-items: center;
    padding: 0 12px;
}


.nav__link--list{
    /* Targets the links to get them vertically aligned side by side */
    display: flex;
}

.nav_link_anchor{
    /* Vertically add spacing between the links */
    margin: 0 12px;
    color: black;
    /* Removes Link underline */
    text-decoration: none;
    font-weight: 700;
}

/* Targeting the contact link design */
.nav_link_anchor--primary{
    background-color:darkblue;
    padding: 8px 20px;
    /* Gives that rounded finish to the link design */
    border-radius: 50px;
    /* Changes colour of the text */
    color: white;
    /* Makes the link transition more responsive */
    transition: all 300ms ease;
}

/* Focuses on the contact link when the cursor is hovered over the link */
.nav_link_anchor--primary:hover{
    background-color:blue;
}

/* Targets the personal logo - Name */
.personal--logo{
    font-size: 24px;
    color: darkblue;
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME SECTION */

#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me_info{
    display: flex;
    flex-direction: column;

}

/* Focuses on the container of the about me section */
.about-me_info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Set the max boundary of the content to 600px */
    max-width: 600px;
    /* Set the container to be in the middle of the conatiner */
    margin: 0 auto;
    /* Align the text to the middle of the width/container */
    text-align: center;
}

/* CSS to edit the picture */
.about-me_picture--mask{
    width: 100px;
    height: 120px;
    /*Setting the border radius to give the photo a curved/ciruclar finish  */
    border-radius: 50%;
    /* The photo is clipped and set inside the element */
    overflow: hidden;
    /* Add spacing between the photo and the text */
    margin-bottom: 28px;
    /* Calling the Keyframe to work on the image through animation */
    animation: animate-profile-picture 800ms ease;
}

@keyframes animate-profile-picture {
/* At 0% set the transform to none */
    0%{
        transform: scale(0);
    }
/* At 80% set the transform to 0.1% of the default */
    80%{
        transform: scale(1.1);
    }
/* At 100% set the transform to the default size */
    100%{
        transform: scale(1);
    }
}


.about-me__picture{
    /* Make the photo class responsive and 100% of its parent */
    width: 100%;
    
}

.about-me_info--title{
    margin-bottom: 16px;
     /* Calling the Keyframe to work on the about me content through animation */
    animation: fade-up 650ms 800ms backwards;
}

.about-me_info--para{
    font-size: 20px;
    margin-bottom: 28px;
     /* Calling the Keyframe to work on the about me content through animation */
    animation: fade-up 650ms 600ms backwards;
}

.about-me__link{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0 12px;
      /* Calling the Keyframe to work on the about me content through animation */
    animation: fade-up 650ms 400ms backwards;
}

@keyframes fade-up {
    0%{
        /* At 0% or page load up the text will be invisble */
        opacity: 0;
        /* The text will set 40px down the original position on load up */
        transform: translateY(40px);
    }

    100%{
        /* At 100% the load up will be complete */
        opacity: 1;
        /* The text will have loaded up and gone back to the original location at 100% */
        transform: translatey(0);
    }
}

.about-me_image--container{
    flex:1;
    display: flex;
    align-items: center;
}

.about-me__image{
    /* The image is set to 100% of its parent */
    width: 100%;
}


/* TECH STACK SECTION */

/* Editing the images in tech stack */
.language__img{
    /* Set the image to 100% for reponsiveness */
    width: 100%;
    /* Set the max width to 100px to minimum page use*/
    max-width: 100px;
    transition: all 300ms;
}

/* Targeting the image class when it is on hover */
.language:hover .language__img{
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9) ;
}

/* Targeting the language container that covers the image and image wrapper */
.language{
/* Set the width to 25% to put 4 languages in a row - Links to the 
   .language__img class for the max-width which is 100px  */
    width: 25%;
    display: flex;
    justify-content: center;
    /* Allows the content to be inside the element */
    position: relative;
}

.language__img--wrapper{
    /* Aligning the items to the center both horizontally and vertically  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add padding between the languages 25px top/bottom
    and 16px left/right */
    padding: 25px 16px;
}

.language__list{
    /* Align the items side by side */
    display: flex;
    /* Setting the width to 100% to make the language list responsive */
    width: 100%;
    /* Items wrap to the next line when there is no space remaining in the row */
    flex-wrap: wrap;
}

.language__name{
    /* Allows the text to be seen and within the conatiner */
    position: absolute;
    /* Get the text to appear below the language image */
    bottom: 0;
    /* On default the language name will not be showing as transform Scale is set to 0 */
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
}

.language:hover .language__name{
    /* Set Transform scale to 1 so when we hover over the image it will scale the size by 1 */
    transform: scale(1);
}

/* PROJECT SECTION */

.project{
    /* Add spacing from the bottom between each project */
    margin-bottom: 135px;
}

.project__img{
    /* Setting the image width to 100% to its parent class (.project__wrapper)
    so that the image shows on a full scale and is responsive */
    width: 100%;
    /* Adds smooth transtion for the image scale increase when hovered on
    from .project:hover .project__img */
    transition: all 200ms ease;
}

.project__wrapper{
    /* Makes image the whole size of the container  */
    display: flex;
    /* Add box shadow around the container 
    0 offset horizontally
    20 offset vertically
    80 Blur*/
    box-shadow: 0px 20px 80px;
    /* Creates the smooth edges for the container */
    border-radius: 20px;
    /* Add the overflow hidden to stop the image being larger than the wrapper */
    overflow: hidden;
    /* Add position relative to keep the content within the container
    from .project__wrapper::before */
    position: relative;
}

/* Using before pseudo class to show what happens before hovering on the 
description  */
.project__wrapper::before{
    /* Target all content */
    content: "";
    /* Set the position of the wrapper to absoluste to keep the setup  */
    position: absolute;
    top: 0;
    left: 0;
    /* Making height and width 100% of its parent to add responsiveness */
    height: 100%;
    width: 100%;
    background-color: black;
    /* Set the opacity to 0 so that on default so the
    container will not be blacked out */
    opacity: 0;
    /* Used to transtion the opacity of the image */
    transition: opacity 450ms ease;
    z-index: 2;

}

/* when hovering on the wrapper it will have the opacity of 0.7 */
.project:hover .project__wrapper::before{
    opacity: 0.7;
}

.project:hover .project__description{
    /* When the container is hovered over, it will display the text as
    the opacity is set to 1 - Linked to opacity from .project__description */
    opacity: 1;
}

/* Increase the image size on the background when it is hovered on */
.project:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}

.project__list{
    /* Add padding between the title and the projects from the top */
    padding-top: 40px;
}

.project__description{
    /* Add position absolute to bring the text inside the container */
    position: absolute;
    /* Centering the text to the center of the container */
    top: 50%;
    /* Push the text to the right of the container */
    left: 90px;
    /*Centering the text to the center of the container from the bottom up  */
    transform: translateY(-50%);
    /* Set Max-width to 500px */
    max-width: 500px ;
    z-index: 3;
    /* Opacity on default is set to zero so the text will not show */
    opacity: 0;

}

.project__description--title{
    /* Making the title bigger in size */
    font-size: 40px;
}

.project__description--para{
    /* Add 16px spacing top and bottom and 0 left and right */
    margin: 16px 0;
}

.project__description--title,
.project__description--sub-title,
.project__description--para{
    /* Align all the title,subtitle and para classes to the left 
    and set their text color to white */
    text-align: left;
    color: white;
}

/* Footer Section */

footer{
    background-color: black;
}

.footer_logo{
    margin-bottom: 20px;
}

.footer_logo--img{
    /* Set the size of the image */
    width: 70px;
    height: 70px;
}

.footer_social--list{
    /* Set width to 100% for reponsiveness */
    width: 100%;
    display: flex;
    /* Spaces around the lists in the footer */
    justify-content: space-around; 
    max-width: 500px;
}

.footer_row{
    /*  */
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_social--link{
    /* Design for the footer-links */
    color: #f8f8f8;
    text-decoration: none;
}

/* Small Phones , Tablets and Large smart Phones */
@media (max-width: 768px){
    
    nav{
        height: 68px;
    }

    h1{
        font-size: 28px;
    }

    .about-me_info--para{
        font-size: 18px;
    }

    .language{
        /* Will divide the languages to have 2 per row */
        width: calc(100%/2);
    }


}

/* Small Phones */
@media (max-width: 480px){

    .nav__link:not(:last-child){
        /* Will remove all the nav links except for the contact button */
        display: none;
    }

    .project__description{
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description--para{
        display: none;
    }

    .project__description--sub-title{
        text-align: center;
        margin: 12px 0;
    }

    .project__description--title{
        text-align: center;
        line-height: 1;
        font-size: 32px;
    }


}
